<div id="header-post">
  <span id="menu">
    <span id="actions">
      <ul>
        <% if (page.prev) { %>
        <li><a class="icon" aria-label="<%- __('post.desktop.previous') %>" href="<%- url_for(page.prev.path) %>"><i class="fa-solid fa-arrow-left" aria-hidden="true"></i></a></li>
        <% } %>
        <% if (page.next) { %>
        <li><a class="icon" aria-label="<%- __('post.desktop.next') %>" href="<%- url_for(page.next.path) %>"><i class="fa-solid fa-arrow-right" aria-hidden="true" ></i></a></li>
        <% } %>
        <li><a class="icon" aria-label="<%- __('post.desktop.back_to_top') %>" href="#" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');"><i class="fa-solid fa-arrow-circle-up" aria-hidden="true"></i></a></li>
      </ul>
    </span>
    <br/>
    <% let tocHTML = toc(page.content) %>
    <% if (tocHTML !== '') { %>
      <div id="toc">
        <%- tocHTML %>
      </div>
    <% } %>
  </span>
</div>
